@import './creative.css';

* {
  box-sizing: border-box;
}

:root {
  --fancy-bg: linear-gradient(
      to top right,
      #1afea4 0%,
      #1afea4 6.25%,
      #19fea4 12.5%,
      #12fea5 18.75%,
      #00fea7 25%,
      #00ffac 31.25%,
      #00ffb5 37.5%,
      #50f9ca 43.75%,
      #2ffadb 50%,
      #00faf3 56.25%,
      #00f8ff 62.5%,
      #a8e9ff 68.75%,
      #cee0ff 75%,
      #f5d4ff 81.25%,
      #ffccdb 87.5%,
      #ffd279 93.75%,
      #2cff9b 100%
    )
    no-repeat center center/cover;
  --container-width: 800px;
  --container-theme: rgb(0 0 0 / 50%);
}
:root,
html,
body {
  --direction: to bottom;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  background: linear-gradient(to top, hsl(298 68% 70%), hsl(198 28% 50%));
  color: #fff;

  overflow: hidden;
  position: relative;
}

html {
  --direction: to bottom right;
}

body {
  --direction: to right;
  overflow: auto;
  font-family: 'Unbounded', Arial, Helvetica, sans-serif;
  padding-block: 1em;
}

header {
  text-align: center;
  font-size: 0.68em;
  height: 200px;
}

header h1 {
  text-transform: uppercase;
  background: var(--fancy-bg);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  font-size: 1.5em;
}
header h1 span {
  display: inline-block;
  transition: font-size 0.5s ease;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
}

.controls {
  max-width: auto !important;
  width: auto !important;
  margin: 0.5em auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.5em auto;
  position: fixed;
  left: 0;
  bottom: 0;
}

.controls button {
  background: var(--container-theme);
  border: 1px solid var(--container-theme);
  padding: 1em;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 8px;
  color: #fff;
  font-family: 'Unbounded', Arial, Helvetica, sans-serif;
}
.controls button:nth-last-child {
  margin-bottom: 0;
}

.controls button:hover {
  background: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

div.probe:after {
  white-space: pre;
  word-wrap: wrap-all;
  font-size: 0.85em;
  counter-reset: random-1 var(--random-0, 0) random-2 var(--random-1, 0) random-3 var(--random-2, 0) random-4
    var(--random-3, 0) random-5 var(--random-4, 0) random-6 var(--random-5, 0) random-7 var(--random-6, 0) random-8
    var(--random-7, 0) random-9 var(--random-8, 0) random-10 var(--random-9, 0);
  content: 'CSS variables with random numbers:\a```\a--random-0: 'counter(random-1) ';\a--random-1: 'counter(random-2)
    ';\a--random-2: 'counter(random-3) ';\a--random-3: 'counter(random-4) ';\a--random-4: 'counter(random-5) ';\a--random-5: 'counter(
      random-6
    )
    ';\a--random-6: 'counter(random-7) ';\a--random-7: 'counter(random-8) ';\a--random-8: 'counter(random-9) ';\a--random-9: 'counter(
      random-10
    )
    ";\a```\a\ağ™›ğ™¤ğ™§ ğ™©ğ™ğ™š ğ™¥ğ™ªğ™§ğ™¥ğ™¤ğ™¨ğ™š ğ™¤ğ™› ğ™©ğ™ğ™ğ™¨ ğ™™ğ™šğ™¢ğ™¤, ğ™ªğ™¨ğ™ğ™£ğ™œ ğ™– 'ğ™ªğ™£ğ™ğ™©' ğ™¬ğ™¤ğ™£ğ™© ğ™¬ğ™¤ğ™§ğ™  ğ™—ğ™šğ™˜ğ™–ğ™ªğ™¨ğ™š ğ™©ğ™ğ™š ğ™¬ğ™–ğ™® ğ™„ ğ™§ğ™šğ™£ğ™™ğ™šğ™§\ağ™©ğ™ğ™š ğ™˜ğ™¨ğ™¨ ğ™«ğ™–ğ™¡ğ™ªğ™šğ™¨ ğ™ğ™£ ğ™©ğ™ğ™š 'ğ™˜ğ™¤ğ™£ğ™©ğ™šğ™£ğ™©' ğ™–ğ™©ğ™©ğ™§ğ™ğ™—ğ™ªğ™©ğ™š, ğ™¤ğ™£ğ™¡ğ™® ğ™–ğ™˜ğ™˜ğ™šğ™¥ğ™© ğ™£ğ™ªğ™¢ğ™—ğ™šğ™§ğ™¨ ğ™–ğ™£ğ™™ ğ™£ğ™¤ğ™© ğ™©ğ™šğ™­ğ™©.)";
}

.demo {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  max-width: var(--container-width);
  width: 100%;
  margin: 0.5em auto;
  height: 400px;
}

.demo div[data-bar-id] {
  max-width: 50px;
  width: 100%;
  background: linear-gradient(to bottom right, #ee243c, #faa04b, #faa04b, #e90a96);
  margin-right: 8px;
  transition: height 0.2s ease;
  display: flex;
  text-align: center;
  position: relative;
}
.demo div[data-bar-id]:after {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: courier;
  font-weight: bold;
  color: white;
}

textarea:empty {
  display: none;
}

.container {
  max-width: var(--container-width);
  width: 90%;
  margin: 0.5em auto;
  background: var(--container-theme);
  border: 1px solid var(--container-theme);
  padding: 1em;
  border-radius: 8px;
}

.flex iframe {
  min-height: 500px;
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.flex div[data-path] {
  position: relative;
  display: block;
  margin-bottom: 1em;
  padding: 1em 0;
}
